html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  background: #ECEFF1;
  overflow-y: auto;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}